body {
background: #9A2EFE;
text-align: center;
font-family: Arial;
}
#main {
	width: 1000px;
	height: 1000px;
	background: #E6B6EC;
	margin:auto;
	
}
h1 {
	text-align: center;
	font: 24pt;
	color: #000000;
}
#Port {
	width: 1000px;
	height: 2000px;
	background: #E6B6EC;
	margin:auto;
	
}